
<script>
    var ga = '{{ site.google_analytics }}';
    var ga_url = '{{ site.google_analytics_url }}';
    (function(ga, url, window, document, navigator, location) {
        var screen = window.screen;
        var encode = encodeURIComponent;

        var data = [
            'ga=' + ga,
            'dt=' + encode(document.title),
            'de=' + encode(document.characterSet || document.charset),
            'dr=' + encode(document.referrer),
            'ul=' + (navigator.language || navigator.browserLanguage || navigator.userLanguage),
            'sd=' + screen.colorDepth + '-bit',
            'sr=' + screen.width + 'x' + screen.height,
            'vp=' + Math.max(document.documentElement.clientWidth, window.innerWidth || 0) + 'x' + Math.max(document.documentElement.clientHeight, window.innerHeight || 0),
            'z='  + Date.now()
        ];

        window.__ga_img = new Image();
        window.__ga_img.src = url + '?' + data.join('&');;
    })(ga, ga_url, window, document, navigator, location);

</script>


<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "21b5acc767524b2e96050e735f2a3109"}'></script><!-- End Cloudflare Web Analytics -->