<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">首页</a></li>
        <li class="nav-archives {% if page.current == 'archives' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}archives/">归档</a></li>
        <li class="nav-subscriptions {% if page.current == 'subscriptions' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}subscriptions/">我的订阅</a></li>
        <li class="nav-dns {% if page.current == 'dns' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}dns/">公共DNS</a></li>
        <li class="nav-rss {% if page.current == 'rss' %} nav-current{% endif %}" role="presentation"><a href="https://rsshub.moonagic.com">RSSHub</a></li>
        <li class="nav-twitter {% if page.current == 'twitter' %} nav-current{% endif %}" role="presentation"><a href="https://twitter.com/moonagic">Twitter</a></li>
        <li class="nav-github {% if page.current == 'github' %} nav-current{% endif %}" role="presentation"><a href="https://github.com/moonagic">Github</a></li>
        <li class="nav-dujt {% if page.current == 'dujt' %} nav-current{% endif %}" role="presentation"><a href="https://dujt.moonagic.com">毒鸡汤</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about/">关于</a></li>

    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
